fastapi
uvicorn
qdrant-client
langchain
langchain-qdrant
langchain-community
langchain-huggingface
sentence-transformers
transformers
torch
rank_bm25
python-dotenv
datasets
underthesea
pydantic
google-genai
markitdown

# Thư viện phục vụ cho R2AI Chatbot Pipeline (LlamaIndex & Qdrant Hybrid)
llama-index-core
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
llama-index-llms-openai-like
fastembed
tqdm
